---
import Mail from '../icons/mail.astro'
import BrandGithub from '../icons/brandGithub.astro'
import BrandX from '../icons/brandX.astro'
import BrandInstagram from '../icons/brandInstagram.astro'
import BrandSpotify from '../icons/brandSpotify.astro'
import DefaultLayout from '../layouts/default.astro'
import profileImage from '../assets/images/profile.jpg'
import { Image } from 'astro:assets'
import WaveSine from '../icons/waveSine.astro'
import Seo from '../components/seo/index.astro'
import Article from '../icons/article.astro'
import MailingList from '../components/mailingList.astro'
import BlogsList from '../components/blogsList.astro'
import { getCollection } from 'astro:content'
import HeartHandshake from '../icons/heart-handshake.astro'

const blogs = (await getCollection('blog')).filter(b => b.data.public).sort((a,b) => new Date(b.data.published.split("/").reverse().join()) - new Date(a.data.published.split("/").reverse().join('/')))

---
<DefaultLayout>
<Seo slot="seo"/>
<main class="container max-w-prose mx-auto grid place-items-center p-4 gap-4">
    <div class="flex w-full gap-4 items-center">
        <div class="avatar">
            <div class="w-24 rounded-full">
                <Image alt="Oli Nelson" src={profileImage}/>
            </div>
        </div>
        <div class="">
            <h1 class="text-3xl font-semibold">Oli Nelson</h1>
            <p class="opacity-60 text-base">Digital renaissance man & all-round thing doer.</p>
            <p class="opacity-60 text-base">Drummer | Indie software developer</p>
        </div>
    </div>


    <ul class="menu w-full rounded-box menu-xl bg-base-100 border-1 border-base-300">
         <li class="menu-title">Current projects</li>
         <li>
             <a href="https://humanprogrammers.com" target="_blank" >
                 <HeartHandshake /> Human Programmers
             </a>
         </li>
      <li>
          <a href="https://maestrocast.com" target="_blank" >
            <WaveSine /> Maestrocast
          </a>
      </li>
    </ul>


    <ul class="menu w-full rounded-box menu-xl bg-base-100 border-1 border-base-300">
         <li class="menu-title">Links</li>
      <li>
          <a href="https://github.com/olinelson" target="_blank" >
              <BrandGithub /> Github
          </a>
      </li>
      <li>
          <a href="https://x.com/o_j_nelson" target="_blank" >
                <BrandX />
              <span>X</span>
          </a>
      </li>
      <li>
          <a
            href="https://open.spotify.com/playlist/02iL2Vi9ONfgVKVG5DfGYz?si=bd53fa2abd8d4f5a"

            target="_blank"
          >
              <BrandSpotify />
              <span>Music</span>
          </a>
      </li>

      <li>
          <a target="_blank" href="https://www.instagram.com/olinelson__">
              <BrandInstagram/>
              Instagram
          </a>
      </li>

      <li>
          <a href="/words" >
              <Article/>
              <span>Blog</span>
          </a>
      </li>

      <li>
            <a href="mailto:olivernelson@hey.com" target="_blank" >
            <Mail />
              Email
            </a>
      </li>
    </ul>


    <MailingList/>

    <div class="w-full">
        <BlogsList showTitle blogs={blogs}/>
    </div>

<div class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="radio" name="my-accordion-1"  />
  <div class="collapse-title font-semibold">Bits and bobs</div>
  <div class="collapse-content text-sm">
      <div>
          <a class="link" href="https://pianobeachstorybook.com" target="_blank">Piano Beach: Simple Piano + Story for Kids</a>
      </div>
      <div>
          <a class="link" href="https://allhandspianoacademy.com" target="_blank">All Hands Piano Academy</a>
      </div>
  </div>
</div>
</main>
</DefaultLayout>
