---
import MainLayout from "../layouts/MainLayout.astro"

import Header from "../components/Header.svelte"
import Links from "../components/Links.svelte"
---

<MainLayout>
  <div class="container centered">
    <section></section>
    <Header />
    <Links />
  </div>
</MainLayout>

<style>
  .nostr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
