---
import Mail from '../icons/mail.astro'
import BrandGithub from '../icons/brandGithub.astro'
import BrandX from '../icons/brandX.astro'
import BrandSpotify from '../icons/brandSpotify.astro'
import DefaultLayout from '../layouts/default.astro'
import profileImage from '../assets/images/profile.jpg'
import { Image } from 'astro:assets'
import WaveSine from '../icons/waveSine.astro'
import Seo from '../components/seo/index.astro'
import Article from '../icons/article.astro'
import MailingList from '../components/mailingList.astro'
---
<DefaultLayout>
<Seo slot="seo"/>
<main class="container mx-auto grid place-items-center p-4 gap-4">
    <div class="avatar">
      <div class="w-24 rounded-full">
        <Image alt="Oli Nelson" src={profileImage}/>
      </div>
    </div>

    <ul class="menu  rounded-box menu-xl bg-base-100 border-1 border-base-300">
      <li>
          <a href="https://maestrocast.com" target="_blank" >
            <WaveSine /> Maestrocast
          </a>
      </li>
      <li>
          <a href="https://github.com/olinelson" target="_blank" >
              <BrandGithub /> Github
          </a>
      </li>
      <li>
          <a href="https://x.com/o_j_nelson" target="_blank" >
                <BrandX />
              <span>/ Twitter</span>
          </a>
      </li>
      <li>
          <a
            href="https://open.spotify.com/playlist/02iL2Vi9ONfgVKVG5DfGYz?si=bd53fa2abd8d4f5a"

            target="_blank"
          >
              <BrandSpotify />
              <span>Music</span>
          </a>
      </li>

      <li>
          <a href="/blog" >
              <Article/>
              <span>Blog</span>
          </a>
      </li>

      <li>
            <a href="mailto:olivernelson@hey.com" target="_blank" >
            <Mail />
              Email
            </a>
      </li>
    </ul>

<MailingList/>

<div class="collapse bg-base-100 border border-base-300">
  <input type="radio" name="my-accordion-1"  />
  <div class="collapse-title font-semibold">Bits and bobs</div>
  <div class="collapse-content text-sm">
      <div>
          <a class="link" href="https://pianobeachstorybook.com" target="_blank">Piano Beach: Simple Piano + Story for Kids</a>
      </div>
      <div>
          <a class="link" href="https://allhandspianoacademy.com" target="_blank">All Hands Piano Academy</a>
      </div>
  </div>
</div>
</main>
</DefaultLayout>
