---
const {blogs, showTitle} = Astro.props
---

    <ul class="menu bg-base-100 rounded-box border-1  w-full">
        {showTitle ? <li class="menu-title">Words</li> : null}
       {blogs.map(b =>
       <li class="relative">
           <h4 class="pb-0 text-lg">{b.data.published} - {b.data.title}</h4>
           <p class="opacity-60 text-base">{b.data.preview}</p>
           <a class="absolute inset-0" href={`/words/${b.id}`}></a>
       </li>
       )}
    </ul>
