<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
    <div class="flex justify-center w-full">
    <ul class="menu menu-horizontal">
        <li><a class="text-lg" href="/">Main</a></li>
        <li><a class="text-lg" href="/words">Words</a></li>
    </ul>
    </div>
</div>
