---
layout: default
---

<main class="container">
  <h1>Oli Nelson</h1>
  <h6>Drummer / Software developer</h6>
  <a href="https://world.hey.com/olivernelson" target="_blank" class="contrast">
    <article>
      <%= render "icons/book-open" %>
      <span>Blog</span>
    </article>
  </a>
  <a href="https://github.com/olinelson" target="_blank" class="contrast">
    <article>
      <%= render "icons/github" %>
      <span>Github</span>
    </article>
  </a>
  <a href="https://x.com/o_j_nelson" target="_blank" class="contrast">
    <article>
      <%= render "icons/x" %>
      <span>/ Twitter</span>
    </article>
  </a>
  <a
    href="https://open.spotify.com/playlist/02iL2Vi9ONfgVKVG5DfGYz?si=bd53fa2abd8d4f5a"
    class="contrast"
    target="_blank"
  >
    <article>
      <%= render "icons/music-note" %>
      <span>Music</span>
    </article>
  </a>
  <article>
    <details>
      <summary>Misc</summary>
      <p>
        <a href="https://pianobeachstorybook.com" target="_blank">Piano Beach: Simple Piano + Story for Kids</a>
      </p>
      <p>
        <a href="https://allhandspianoacademy.com" target="_blank">All Hands Piano Academy</a>
      </p>
    </details>
  </article>
</main>
