---
import { getCollection, render } from 'astro:content';
import DefaultLayout from '../../layouts/default.astro'
import MailingList from '../../components/mailingList.astro';
import ArrowLeft from '../../icons/arrowLeft.astro'
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.filter(p => p.data.public === true).map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---
<DefaultLayout>
    <main class="container prose mx-auto p-4 pb-12">
        <Content />

        <div class="pb-8">
        <a class="btn flex gap-1 items-center" href="/words">
            <ArrowLeft/>
            More words
        </a>
        </div>
        <MailingList/>
    </main>
</DefaultLayout>
