---
import Head from './head.astro'
import Pico from '@picocss/pico'

---
<!doctype html>
<html  lang="<%= site.locale %>">
    <slot name="seo" slot="seo" />
  <head>
      <Head/>
  </head>
  <body>
      <slot/>
  </body>
</html>

<script>
    import "../scripts/application.js";
</script>
