---
import Nav from '../components/nav.astro'
import Head from './head.astro'

---
<!doctype html>
<html class="bg-base-200" lang="en" data-theme="olinelson">
    <slot name="seo" slot="seo" />
  <head>
      <Head/>
  </head>
  <body>
      <Nav/>
      <slot/>
  </body>
</html>

<script>
    import "../scripts/application.js";
</script>
